@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: white;
    --textSoft: #b7bac1;
}

body{
    background-color: var(--bg);
    color: var(--textSoft);
}

.ace-editor-container {
    width: 100% !important;


}

.ace_scrollbar {
    display: none !important;
}

.ace_editor {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: none;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(249, 249, 249, 0.1);
    font-weight: 500 !important;
    font-size: 23px !important;
    line-height: 1.5rem !important;
}

.ace_content {
    width: 100% !important;
    top: 12px !important;
    left: 12px !important;
}

.ace_scroller {
    width: 100% !important;

}

.dropdown-title{
    padding: 0.25rem 0.3rem 0.3rem 0.5rem;
    height: 37px;
    border-radius: 3px;
    border: 1px solid rgba(249, 249, 249, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    cursor: pointer;
}
.dropdown-menu{
    padding: 0.25rem, 0.3rem, 0.3rem, 0.5rem;
    position: absolute;
    background-color: #121212;
    border-radius: 3px;
    border: 1px solid #3c3c3c;
}