@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: white;
    --textSoft: #b7bac1;
}

body {
    background-color: var(--bg);
    color: var(--textSoft);
}

.ace-editor-container {
    width: 100% !important;


}

.ace_scrollbar {
    display: none !important;
}

.ace_editor {
    /* background-color: #151c2c !important; */
    opacity: 100% !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* border-top: none; */
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(249, 249, 249, 0.1);
    font-weight: 500 !important;
    font-size: 23px !important;
    line-height: 1.5rem !important;
}

.ace_content {
    width: 100% !important;
    top: 12px !important;
    left: 12px !important;

}

.ace_scroller {
    width: 100% !important;
}

.dropdown-title {
    padding: 0.25rem 0.3rem 0.3rem 0.5rem;
    height: 37px;
    border-radius: 3px;
    border: 1px solid rgb(57, 57, 79);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    cursor: pointer;
}

.dropdown-menu {
    padding: 0.25rem, 0.3rem, 0.3rem, 0.5rem;
    position: absolute;
    background-color: #121212;
    border-radius: 3px;
    border: 1px solid #3c3c3c;
}

.social-icons:hover {
    transform: scale(2);
    transition: all;
    transition: ease-in-out;
    transition-duration: 200ms;
    color: rgb(34, 43, 195);

}

.handle {
    transition: all 300ms ease-in-out;
    pointer-events: none;
}

.resize-container:hover .handle-top {
    transform: translate(50%) scale(1.5);
    transition: all 300ms ease-in-out;
}

.resize-container:hover .handle-bottom {
    transform: translate(50%) scale(1.5);
    transition: all 300ms ease-in-out;
}

.resize-container:hover .handle-left {
    transform: translate(50%) scale(1.5);
    transition: all 300ms ease-in-out;
}

.resize-container:hover .handle-right {
    transform: translate(50%) scale(1.5);
    transition: all 300ms ease-in-out;
}

.handle {
    background: linear-gradient(312deg, hsl(92, 100%, 51%), #6d4ef7);
    background-size: 400% 400%;
    -webkit-animation: handleAnimation 3s ease infinite;
    -moz-animation: handleAnimation 3s ease infinite;
    animation: handleAnimation 3s ease infinite;
}


@-webkit-keyframes handleAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes handleAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes handleAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}